body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
}

header {
    background: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('https://via.placeholder.com/1500x400') no-repeat center/cover;
    padding: 70px;
    text-align: center;
    color: white;
    background-color: #333;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.page-title {
    text-align: center;
    margin-top: 30px;
}

.contact-box {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    text-align: left;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.whatsapp-btn {
    background: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
